VITE_FAKE_API_BASE_URL=https://fakerapi.it/api/v2/custom?_quantity=10&company=company_name&country=country&state=state&city=city&zipcode=postcode&employees=counter&revenue=number&website=website&sales_rep=first_name&last_contacted=date&purchased=boolean&notes=text
VITE_API_BINANCE_URL=https://api.binance.com/api/v3/klines